Fabric==1.6.1
Flask==0.9
Flask-Login==0.2.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
WTForms==1.0.4
Werkzeug==0.9.1
distribute==0.6.45
itsdangerous==0.21
paramiko==1.10.1
pycrypto==2.6
wsgiref==0.1.2
