{% extends "base.html" %}


{% block bs_header %}

    <div class="bs-header dashboard" id="content" role="banner">

        <div class="container">

            <div class="btn-group">
                <h1 class="bs-header-inline">Profile</h1>
            </div>

            <div class="btn-group pull-right">
                <div class="dropdown">
                    <div class="btn-toolbar" style="margin: 0;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Create Resource <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-header">Permission</li>
                                <li><a tabindex="-1" href="{{ url_for('account.create_fabfile_ctrl') }}"><i class="icon-user"></i> Fabfile</a></li>
                                <li><a tabindex="-1" href="{{ url_for('account.create_ssh_config_ctrl') }}"><i class="icon-key"></i> Ssh Config</a></li>
                                <li><a tabindex="-1" href="{{ url_for('account.create_ipmi_config_ctrl') }}"><i class="icon-key"></i> Ipmi Config</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock bs_header %}


{% block container %}

<div class="container">

    <div class="row">

        {% block sidebar %}

            <div class="col-lg-3">
                <ul class="nav nav-tabs nav-tabs-google nav-stacked">
                    <li class="{% block active_account_change_settings %}{% endblock %}"><a href="{{ url_for("account.user_edit_settings_ctrl") }}">Account Settings</a></li>
                    <li class="{% block active_account_change_password %}{% endblock %}"><a href="{{ url_for("account.user_change_password_ctrl") }}">Change Password</a></li>
                    <li class="{% block active_account_fabfile %}{% endblock %}"><a href="{{ url_for("account.list_fabfile_ctrl") }}">Fabfile</a></li>
                    <li class="{% block active_account_ssh_config %}{% endblock %}"><a href="{{ url_for("account.list_ssh_config_ctrl") }}">Ssh Config</a></li>
                    <li class="{% block active_account_ipmi_config %}{% endblock %}"><a href="{{ url_for("account.list_ipmi_config_ctrl") }}">Ipmi Config</a></li>
                </ul>
            </div>

        {% endblock %}

        {% block main %}{% endblock %}

    </div>

</div>
{% endblock %}
