{% extends "base.html" %}

{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">PROFILE</li>
                <li class="{% block active_user_edit_settings %}{% endblock %}"><a href="{{ url_for("user.user_edit_settings_ctrl") }}">Settings</a></li>
                <li class="{% block active_user_edit_password %}{% endblock %}"><a href="{{ url_for("user.user_edit_password_ctrl") }}">Password</a></li>
                <li class="nav-header">OTHER</li>
                <li class=""><a href="">Hello</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
