{% extends "member/base.html" %}

{% block active_user_edit_settings %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Profile</a> <span class="divider">/</span></li>
            <li class="active">Settings</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Settings
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_form(form.email) }}

                    {{ ext.create_standard_form(form.name) }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>

        </div>

    </div>

{% endblock %}