{% extends "base.html" %}

{% block active_assets %}active{% endblock %}

{% block container %}
<div class="container">

    <div class="row">

        {% block sidebar %}
            <div class="col-lg-3">
                <div class="bs-sidebar">
                    <div class="list-group">
                        <a class="list-group-item {% block active_assets_server %}{% endblock %}" href="{{ url_for("assets.list_server_ctrl") }}"><i class="icon-laptop"></i> Server</a>
                        <a class="list-group-item {% block active_assets_idc %}{% endblock %}" href="{{ url_for("assets.list_idc_ctrl") }}"><i class="icon-building"></i> IDC</a>
                        <a class="list-group-item {% block active_assets_rack %}{% endblock %}" href="#"><i class="icon-align-justify"></i> RACK</a>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}{% endblock %}

    </div>

</div>
{% endblock %}