{% extends "base.html" %}

{% block active_assets %}active{% endblock %}


{% block bs_header %}

    <div class="bs-header operation" id="content" role="banner">

        <div class="container">

            <div class="btn-group">
                <h1 class="bs-header-inline">Assets</h1>
                {{ ext.feedback_message() }}

            </div>

            <div class="btn-group pull-right">
                <div class="dropdown">
                    <div class="btn-toolbar" style="margin: 0;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Create Assets <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-header">Header One</li>
                                <li><a tabindex="-1" href="#">One</a></li>
                                <li><a tabindex="-1" href="#">Two</a></li>
                                <li class="dropdown-header">Header Two</li>
                                <li><a tabindex="-1" href="#">Three</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">HAHA~~</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {% block bs_header_navbar %}

        <div class="navbar navbar-toolbar" role="navigation">
            <div class="container btn-toolbar">
                {% block bs_header_navbar_append %}{% endblock bs_header_navbar_append %}
            </div>
        </div>
        {% endblock bs_header_navbar %}
    </div>

{% endblock bs_header %}