{% extends "operation/base.html" %}

{% block active_operation_predefined %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Execute</a><span class="divider">/</span></li>
            <li class="active"><a href="#">PreDefined</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create PreDefined Execute
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    <div class="control-group">
                        <label class="control-label">{{ form.server_list.label }}</label>
                        <div class="controls">
                            {{ form.server_list(class="span6", rows="10") }}
                            <p class="help-block">{{ form.server_list.description }}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.script_template.label }}</label>
                        <div class="controls">
                            {{ form.script_template(class="span6", rows="10") }}
                            <p class="help-block">{{ form.script_template.description|safe }}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.template_vars.label }}</label>
                        <div class="controls">
                            {{ form.template_vars(class="span6", rows="10") }}
                            <p class="help-block">{{ form.template_vars.description|safe }}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.ssh_config.label }}</label>
                        <div class="controls">
                            {{ form.ssh_config(class="span6") }}
                            <p class="help-block">{{ form.ssh_config.description }}</p>
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}
