{% extends "operation/base.html" %}

{% block main %}

            <div class="col-lg-12">

                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Ssh Detect</a></li>
                    <li class="active">Create</li>
                </ul>

                {{ ext.feedback_message() }}

                <div class="tabbable">
                    <form method="post" action="">

                        {{ form.hidden_tag() }}

                        <legend>
                            Create Ssh Detect
                        </legend>

                        <div class="box form-container row form-horizontal">

                            {{ ext.create_standard_field(form.server_list, class="col-lg-6", rows="10") }}

                            {{ ext.create_standard_field(form.ssh_config, class="select2 span4") }}

                        </div>

                        <div class="form-actions">
                            {{ form.submit(class="btn btn-danger") }}
                        </div>

                    </form>

                </div>

            </div>

{% endblock %}