{% extends "operation/base.html" %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Fabfile Execute </a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Fabfile Execute
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_field(form.server_list, class="span6", rows="10") }}

                    {{ ext.create_standard_field(form.script_template) }}

                    {{ ext.create_standard_field(form.ext_variables, class="span6", rows="10") }}

                    {{ ext.create_standard_field(form.ssh_config, class="select2 span4") }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}
