{% extends "operation/base.html" %}

{% block bs_header %}{% endblock bs_header %}

{% block container %}

    <div class="container col-lg-10 operation-workflow">

        <div class="operation-workflow-list">

            <form class="form-horizontal" method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Fabfile Execute
                </legend>

                {{ ext.create_standard_field(form.server_list, field_width="col-lg-6", rows="10") }}
                {{ ext.create_standard_field(form.script_template) }}
                {{ ext.create_standard_field(form.ext_variables, field_width="col-lg-6", rows="10") }}
                {{ ext.create_standard_field(form.ssh_config, class="", field_width="col-lg-6") }}

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>

        </div>

    </div>

{% endblock %}