{% extends "operation/base.html" %}

{% import "macro.html" as ext %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">{{ ext.get_operation_title(kind) }}</a><span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ ext.get_operation_title(kind) }}</a>
                <div class="btn-group pull-right">
                    <a href="{{ ext.generation_create_operation_link(kind) }}" class="btn btn-primary"><i class="icon-plus"></i> Add Operation</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>AUTHOR</th>
                    <th>CREATE TIME</th>
                    <th>SERVER LIST</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for execute in executes %}
            <tr>
                <td class="span1">{{ execute.author_name }}</td>
                <td class="span1">{{ execute.datetime }}</td>
                <td class="span5">{{ execute.server_list }}</td>
                <td class="span1">{{ ext.get_operation_status(execute.status) }}</td>
                <td class="span1">
                    <div class="dropdown pull-left">
                        <a title="Operate" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                        <ul class="dropdown-menu pull-right nav-stacked" role="menu">
                            <li><a href="{{ url_for('operation.show_operation_ctrl', operation_id=execute.id)}}"><i class="icon-info-sign"></i> 查看</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}