{% extends "operation/base.html" %}

{% block active_operation_overview %}btn-danger{% endblock %}

{% block container %}

    <div class="container">

        <div class="row">

            <div class="col-lg-7">

                <p>Fabric-based. Support External Variables and Output Record.</p>

            </div>

            <div class="col-lg-3 workflow">

                <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>type</th>
                        <th>count</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Operation</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td> - Ssh Status</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td> - Ping Connectivity</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td> - Custom Script</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td> - PreDefined Fabfile</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td> - Power Control</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

{% endblock container %}