{% extends "manager/manager_base.html" %}

{% block active_manager_script %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Admin</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Script Manager</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        {{ ext.feedback_message() }}

    {% if type == 'List' %}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Script Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('create_script_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Script</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>NAME</th>
                <th>DESC</th>
                <th>AUTHOR</th>
                <th>OPERATE</th>
            </tr>
            </thead>
            <tbody>
                {% for script in scripts %}
                    <tr>
                        <td>{{ script.name }}</td>
                        <td>{{ script.desc }}</td>
                        <td>{{ script.author }}</td>
                        <td>
                            <a href="{{ url_for('show_script_ctrl', script_id=script.id)}}" class="btn btn-small btn-success">查看</a>
                            <a href="{{ url_for('edit_script_ctrl', script_id=script.id)}}" class="btn btn-small btn-success">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif type == 'Show' %}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ script.name }}</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('edit_script_ctrl', script_id=script.id)}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Edit Script</a>
                </div>
            </div>

            <div class="highlight" style="padding-top:9px; padding-bottom: 9px;">
                <pre class="prettyprint linenums">{{ script.script|safe }}</pre>
            </div>
        </div>
    {% endif %}

    </div>
{% endblock %}