{% extends "manager/manager_base.html" %}

{% block active_manager_user %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Admin</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">User Manager</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        {{ ext.feedback_message() }}

    {% if type == 'List' %}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">User Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('create_user_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add User</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>USERNAME</th>
                <th>NICKNAME</th>
                <th>OPERATE</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>
                            <a href="#" class="btn btn-small btn-success">启用</a>
                            <a href="#" class="btn btn-small btn-success">禁用</a>
                            <a href="#" class="btn btn-small btn-success">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif type == 'Show' %}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ script.name }}</a>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i> Edit User</a>
                </div>
            </div>

            <div class="highlight" style="padding-top:9px; padding-bottom: 9px;">
                <pre class="prettyprint linenums">{{ script.script|safe }}</pre>
            </div>
        </div>
    {% endif %}

    </div>
{% endblock %}