{% extends "manager/manager_base.html" %}

{% block active_manager_user %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Admin</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">User Manager</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>

                    {{ type }} User

                </legend>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#username" data-toggle="tab">1. Name <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#nickname" data-toggle="tab">2. Nickname <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#password" data-toggle="tab">3. Password <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#group" data-toggle="tab">4. Group <i class="icon-arrow-right icon-white"></i></a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">

                    <div class="tab-pane active breadcrumb" id="username">
                        <div class="span2">{{ form.username.label }}</div>
                        <div class="span6">{{ form.username() }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.username.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="nickname">
                        <div class="span2">{{ form.nickname.label }}</div>
                        <div class="span6">{{ form.nickname(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.nickname.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="password">
                        <div class="span2">{{ form.password.label }}</div>
                        <div class="span6">{{ form.password(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.password.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="group">
                        <div class="span2">{{ form.group.label }}</div>
                        <div class="span6">{{ form.group(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.group.description }}</p>
                        </div>
                    </div>

                </div>

                <a href="#commit" role="button" class="btn btn-success pull-right" data-toggle="modal">{{ type }}</a>
                <div id="commit" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Oops!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Continue to do this operate?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}