{% extends "operate/operate_base.html" %}

{% block active_operate_ping %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Detect</a><span class="divider">/</span></li>
            <li class="active"><a href="#">Ping</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        <div class="tabbable">
            <form method="post" class="form-horizontal" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Ping Detect
                </legend>

                <div class="control-group">
                    <label class="control-label">{{ form.server_list.label }}</label>
                    <div class="controls">
                        {{ form.server_list(class="span6", rows="10") }}
                        <p class="help-block">{{ form.server_list.description }}</p>
                    </div>
                </div>

                <a href="#commit" role="button" class="btn btn-primary pull-right" data-toggle="modal">Submit</a>
                <div id="commit" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Oops!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Continue to create this detect?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}