{% extends "operate/base_operate.html" %}

{% import "macro.html" as ext %}

{% if type == 'Ssh' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ssh_detect_ctrl') %}
{% elif type == 'Ping' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ping_detect_ctrl') %}
{% elif type == 'Custom' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_custom_execute_ctrl') %}
{% elif type == 'PreDefined' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_predefined_execute_ctrl') %}
{% endif %}

{% block active_operate_ssh %}{% if type == 'Ssh' %}active{% endif %}{% endblock %}
{% block active_operate_ping %}{% if type == 'Ping' %}active{% endif %}{% endblock %}
{% block active_operate_custom %}{% if type == 'Custom' %}active{% endif %}{% endblock %}
{% block active_operate_predefined %}{% if type == 'PreDefined' %}active{% endif %}{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">{{ operate_title }}</a><span class="divider">/</span></li>
            <li><a href="#">{{ type }}</a> <span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ type }} {{ operate_title }}</a>
                <div class="btn-group pull-right">
                    <a href="{{ operate_create_url }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add {{ operate_title }}</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>用户</th>
                <th>创建时间</th>
                <th>服务器列表</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for execute in executes %}
            <tr>
                <td class="span1">{{ execute.author }}</td>
                <td class="span1">{{ execute.datetime }}</td>
                <td class="span5">{{ execute.server_list }}</td>
                <td class="span1">{{ ext.get_operate_status(execute.status) }}</td>
                <td class="span1"><a href="{{ url_for('operate.show_operate_ctrl', operate_id=execute.id)}}">查看</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}