{% extends "layout.html" %}

{% block active_default %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Remote Operate</a><span class="divider">/</span></li>
            <li class="active"><a href="#">Default Script</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#server" data-toggle="tab">1.Servers <i class="icon-hand-right"></i></a></li>
                    <li class=""><a href="#script" data-toggle="tab">2.Script <i class="icon-hand-right"></i></a></li>
                    <li class=""><a href="#auth" data-toggle="tab">3.Auth</a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">

                    <div class="tab-pane active breadcrumb" id="server">
                        <div class="span2">{{ form.server.label|safe }}</div>
                        <div class="span6">{{ form.server(class="span12", rows="10")|safe }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.server.description|safe }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="script">
                        <div class="span2">{{ form.script_id.label|safe }}</div>
                        <div class="span6">{{ form.script_id(class="span12", multiple="multiple")|safe }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.script_id.description|safe }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="auth">
                        <div class="span2">{{ form.config.label }}</div>
                        <div class="span6">{{ form.config(class="span12", multiple="multiple") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.config.description }}</p>
                        </div>
                    </div>
                </div>

                <a href="#commit" role="button" class="btn btn-success pull-right" data-toggle="modal">Submit</a>
                <div id="commit" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Warning!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to do this operate??</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Don't Create</button>
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}