{% extends "layout.html" %}

{% block active_template %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Remote Operate</a><span class="divider">/</span></li>
            <li class="active"><a href="#">User Custom Script</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#server" data-toggle="tab">1.Servers <i class="icon-hand-right"></i></a></li>
                    <li class=""><a href="#template" data-toggle="tab">2.Template <i class="icon-hand-right"></i></a></li>
                    <li class=""><a href="#variable" data-toggle="tab">3.Variable <i class="icon-hand-right"></i></a></li>
                    <li class=""><a href="#auth" data-toggle="tab">4.Auth</a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">

                    <div class="tab-pane active breadcrumb" id="server">
                        <div class="span2">{{ form.server.label|safe }}</div>
                        <div class="span6">{{ form.server(class="span12", rows="10")|safe }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.server.description|safe }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="template">
                        <div class="span2">{{ form.script.label|safe }}</div>
                        <div class="span6">{{ form.script(class="span12", rows="10")|safe }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>用<code>{</code>和<code>}</code>作为外部变量的定界符,模板中此类变量会自动按照变量文件中的定义进行替换.</p>
                            <p>同时模板依然支持shell中的<code>$</code>变量</p>
                            <pre>for device in `/sbin/ifconfig -a | awk '/^e/ { print $1 }'`; do
    mac=`ifconfig $device | grep HWaddr | awk '{ print $5 }'`
    if [ "$device" == "eth0" -o "$device" == "em1" ]; then
        echo "DEVICE=$device"    > /etc/sysconfig/network-scripts/ifcfg-$device
        echo "TYPE=Ethernet"     >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "BOOTPROTO=static"  >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "HWADDR=$mac"       >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "IPADDR={address}"  >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "NETMASK={netmask}" >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "GATEWAY={gateway}" >> /etc/sysconfig/network-scripts/ifcfg-$device
        echo "ONBOOT=yes"        >> /etc/sysconfig/network-scripts/ifcfg-$device
    fi
done</pre>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="variable">
                        <div class="span2">{{ form.var.label|safe }}</div>
                        <div class="span6">{{ form.var(class="span12", rows="10")|safe }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>用<code>|</code> 作为key(域名或IP地址)和value的分隔符</p>
                            <p>用<code>,</code> 作为多个变量赋值的分隔符</p>
                            <p>用<code>=</code> 作为变量赋值的分隔符</p>
                            <strong>例如:</strong>
                            <p><code>60.175.193.194|address=61.132.226.195,gateway=61.132.226.254</code></p>
                        </div>
                    </div>

                    <div class="span2">{{ form.config.label }}</div>
                    <div class="span6">{{ form.config(class="span12", multiple="multiple") }}</div>
                    <div class="clearfix"></div>
                    <div class="alert alert-block alert-success fade in">
                        <strong>说明:</strong>
                        <p>{{ form.config.description }}</p>
                    </div>
                </div>

                {{ form.submit(class="btn btn-success pull-right") }}
            </form>
        </div>
    </div>
{% endblock %}