{% extends "layout.html" %}

{% block active_operate %}active{% endblock %}

{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">STATUS DETECT</li>
                <li class="{% block active_ping %}{% endblock %}"><a href="{{ url_for('show_ping_detect_ctrl') }}">Ping</a></li>
                <li class="{% block active_ssh %}{% endblock %}"><a href="{{ url_for('show_ssh_detect_ctrl') }}">Ssh</a></li>
                <li class="nav-header">REMOTE EXECUTE</li>
                <li class="{% block active_predefined %}{% endblock %}"><a href="{{ url_for('show_predefined_execute_ctrl') }}">PreDefined</a></li>
                <li class="{% block active_custom %}{% endblock %}"><a href="{{ url_for('show_custom_execute_ctrl') }}">User Custom</a></li>
                <li class="nav-header">IPMI OVER LAN</li>
                <li class="{% block active_reboot %}{% endblock %}"><a href="#">Reboot</a></li>
                <li class="{% block active_shutdown %}{% endblock %}"><a href="#">Shutdown</a></li>
            </ul>
        </div>
    </div>
{% endblock %}