{% extends "operate/operate_create.html" %}

{% block active_custom %}active{% endblock %}

{% block content %}
    <div class="span10">
        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#server" data-toggle="tab">Servers</a></li>
                    <li class=""><a href="#template" data-toggle="tab">Template</a></li>
                    <li class=""><a href="#auth" data-toggle="tab">Auth</a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">
                    <div class="tab-pane active row-fluid" id="server">
                        <div class="span4">{{ form.server_list(rows=10) }}</div>
                        <div class="span8">
                            <div class="alert alert-block alert-success fade in">
                                <strong>说明:</strong>
                                <p>{{ form.server_list.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane row-fluid" id="template">
                        <div class="span4">{{ form.command_list(rows=10) }}</div>
                        <div class="span8">

                            <div class="alert alert-block alert-success fade in">
                                <strong>说明:</strong>
                                <p>{{ form.command_list.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane row-fluid" id="auth">
                        <div class="span4">
                            <!-- TODO:增加用户认证配置.  -->
                        </div>
                        <div class="span8">
                            <div class="alert alert-block alert-error fade in">
                                <strong>注意:</strong>
                                <p>当前只支持完成KU6认证配置的服务器.</p>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>
{% endblock %}