{% extends "layout.html" %}

{% block active_operate %}active{% endblock %}

{% block sidebar %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">STATUS DETECT</li>
                <li class="{% block active_operate_ping %}{% endblock %}"><a href="{{ url_for('show_operate_ctrl', operate_type='Ping') }}">Ping</a></li>
                <li class="{% block active_operate_ssh %}{% endblock %}"><a href="{{ url_for('show_operate_ctrl', operate_type='Ssh') }}">Ssh</a></li>
                <li class="nav-header">REMOTE EXECUTE</li>
                <li class="{% block active_operate_predefined %}{% endblock %}"><a href="{{ url_for('show_operate_ctrl', operate_type='PreDefined') }}">PreDefined</a></li>
                <li class="{% block active_operate_custom %}{% endblock %}"><a href="{{ url_for('show_operate_ctrl', operate_type='Custom') }}">User Custom</a></li>
                <li class="nav-header">IPMI OVER LAN</li>
                <li class="{% block active_operate_reboot %}{% endblock %}"><a href="#">Reboot</a></li>
                <li class="{% block active_operate_shutdown %}{% endblock %}"><a href="#">Shutdown</a></li>
            </ul>
        </div>
    </div>
{% endblock %}