{% extends "operate/operate_base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">

            {% block sidebar %}
            <ul class="nav nav-tabs nav-stacked">
                <li class="{% block active_default %}{% endblock %}"><a href="{{ url_for('create_default_operate_ctrl')}}">创建标准操作</a></li>
                <li class="{% block active_custom %}{% endblock %}"><a href="{{ url_for('create_custom_operate_ctrl')}}">创建自定义操作</a></li>
                <li class="{% block active_template %}{% endblock %}"><a href="{{ url_for('create_template_operate_ctrl')}}">从模板创建操作</a></li>
            </ul>
            {% endblock %}

        </div>

        {% block content %}{% endblock %}

    </div>

    <hr>
    <footer>
        <p>&copy; DataCenter Managent 2013</p>
    </footer>
</div>
{% endblock %}