{% extends "operate/base_operate.html" %}

{% import "macro.html" as ext %}

{% if execute.operate_type == 'Ssh' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ssh_detect_ctrl') %}
{% elif execute.operate_type == 'Ping' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ping_detect_ctrl') %}
{% elif execute.operate_type == 'Custom' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_custom_execute_ctrl') %}
{% elif execute.operate_type == 'PreDefined' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_predefined_execute_ctrl') %}
{% endif %}

{% block active_operate_ssh %}{% if execute.operate_type == 'Ssh' %}active{% endif %}{% endblock %}
{% block active_operate_ping %}{% if execute.operate_type == 'Ping' %}active{% endif %}{% endblock %}
{% block active_operate_custom %}{% if execute.operate_type == 'Custom' %}active{% endif %}{% endblock %}
{% block active_operate_predefined %}{% if execute.operate_type == 'PreDefined' %}active{% endif %}{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">{{ operate_title }}</a><span class="divider">/</span></li>
            <li><a href="#">{{ execute.operate_type }}</a> <span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ execute.operate_type }} Operate {{ execute.id }}</a>
            </div>
        </div>

        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>用户</th>
                <th>创建时间</th>
                <th>类型</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ execute.author }}</td>
                <td>{{ execute.datetime }}</td>
                <td>{{ execute.operate_type }}</td>
            </tr>
            </tbody>
        </table>

        {% if operate_result != 0 %}

        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>IP地址</th>
                <th>结果</th>
            </tr>
            </thead>
            <tbody>
            {%- for key, value in operate_result.items() %}
            <tr>
                <td class="span2">{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

    </div>

{% endblock %}