{% extends "operate/operate_base.html" %}

{% import "macro.html" as ext %}

{% if operate_type == 'Ssh' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('create_ssh_detect_ctrl') %}
{% elif operate_type == 'Ping' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('create_ping_detect_ctrl') %}
{% elif operate_type == 'Custom' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('create_custom_execute_ctrl') %}
{% elif operate_type == 'PreDefined' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('create_predefined_execute_ctrl') %}
{% endif %}

{% block active_operate_ssh %}{% if style == 'Ssh' %}active{% endif %}{% endblock %}
{% block active_operate_ping %}{% if style == 'Ping' %}active{% endif %}{% endblock %}
{% block active_operate_custom %}{% if style == 'Custom' %}active{% endif %}{% endblock %}
{% block active_operate_predefined %}{% if style == 'PreDefined' %}active{% endif %}{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">{{ operate_title }}</a><span class="divider">/</span></li>
            <li><a href="#">{{ operate_type }}</a> <span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ operate_type }}</a>
                <div class="btn-group pull-right">
                    <a href="{{ operate_create_url }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Detect</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>USER</th>
                <th>DATETIME</th>
                <th>SERVER</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            {% for execute in executes %}
            <tr>
                <td>{{ execute.author }}</td>
                <td>{{ execute.datetime }}</td>
                <td>{{ execute.server_list }}</td> <!-- TODO: 增加省略显示或固定字符省略溢出 -->
                <td>{{ execute.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}