{% extends "operate/base_operate.html" %}

{% import "macro.html" as ext %}

{% if execute.kind == 'Ssh' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ssh_detect_ctrl') %}
{% elif execute.kind == 'Ping' %}
    {% set operate_title = 'Detect' %}
    {% set operate_create_url = url_for('operate.create_ping_detect_ctrl') %}
{% elif execute.kind == 'Custom' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_custom_execute_ctrl') %}
{% elif execute.kind == 'PreDefined' %}
    {% set operate_title = 'Execute' %}
    {% set operate_create_url = url_for('operate.create_predefined_execute_ctrl') %}
{% endif %}

{% block active_operate_ssh %}{% if execute.kind == 'Ssh' %}active{% endif %}{% endblock %}
{% block active_operate_ping %}{% if execute.kind == 'Ping' %}active{% endif %}{% endblock %}
{% block active_operate_custom %}{% if execute.kind == 'Custom' %}active{% endif %}{% endblock %}
{% block active_operate_predefined %}{% if execute.kind == 'PreDefined' %}active{% endif %}{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">{{ operate_title }}</a><span class="divider">/</span></li>
            <li><a href="#">{{ execute.kind }}</a> <span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ execute.kind }} {{ operate_title }}</a>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped" id="output-table">
            <thead>
            <tr>
                <th>ADDRESS</th>
                <th>STATUS</th>
                <th>MESSAGE</th>
                <th>ERROR</th>
            </tr>
            </thead>
            <tbody>
            {%- for address in fruits %}
            <tr>
                <td class="span1">{{ address }}</td>
                <td class="span1">{{ fruits[address]['code'] }}</td>
                <td class="span4">{{ fruits[address]['msg'] }}</td>
                <td class="span4">{{ fruits[address]['error'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}