{% extends "detect/detect_base.html" %}

{% block active_ssh %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Status Detect</a><span class="divider">/</span></li>
            <li class="active"><a href="#">Ssh</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Ssh Detect
                </legend>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#server" data-toggle="tab">1. Servers <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#auth" data-toggle="tab">2. Auth</a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">

                    <div class="tab-pane active breadcrumb" id="server">
                        <div class="span2">{{ form.server_list.label }}</div>
                        <div class="span6">{{ form.server_list(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.server_list.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="auth">
                        <div class="span2">{{ form.ssh_config.label }}</div>
                        <div class="span6">{{ form.ssh_config(class="span12", multiple="multiple") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.ssh_config.description }}</p>
                        </div>
                    </div>

                    <a href="#commit" role="button" class="btn btn-success pull-right" data-toggle="modal">Submit</a>
                    <div id="commit" class="modal hide fade">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>Oops!</h3>
                        </div>
                        <div class="modal-body">
                            <p>Continue to create this detect?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                            {{ form.submit(class="btn btn-danger") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}