{% extends "operate/operate_base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">

            {% block sidebar %}
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">测试</li>
                    <li ><a href="#">PING测试</a></li>
                    <li><a href="#">SSH登录测试</a></li>
                    <li class="nav-header">操作</li>
                    <li class="active"><a href="#">标准操作</a></li>
                    <li><a href="#">执行脚本</a></li>
                    <li><a href="#">执行模板</a></li>
                </ul>
            </div>
            {% endblock %}

        </div>

        {% block content %}{% endblock %}
    </div>

    <hr>
    <footer>
        <p>&copy; DataCenter Managent 2012</p>
    </footer>
</div>
{% endblock %}