{% macro feedback_message()  -%}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{%- endmacro %}

{% macro get_operate_status(status)  -%}
    {% if status == '0' %}
        <span class="label label-info">队列中</span>
    {% elif status == '1' %}
        <span class="label label-success">成功</span>
    {% elif status == '2' %}
        <span class="label label-warning">错误</span>
    {% elif status == '5' %}
        <span class="label label-warning">执行中</span>
    {% else %}
        <span class="label label-important">异常结果</span>
    {% endif %}
{%- endmacro %}