.box {
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.1);
    border-radius: 0px 0px 0px 0px;
}
.control-group {
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: rgb(251, 251, 251);
}
.form-horizontal .control-group {
    margin-bottom: 0px;
}
.control-label {
    padding: 6px 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.form-horizontal .control-label {
    padding: 19px 0px 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
.controls {
    padding: 10px 0px 0px 15px;
    border-left: 1px solid rgb(238, 238, 238);
    background-color: white;
}
.form-horizontal .controls {
    padding: 15px 0px 15px 20px;
}


.form-actions.fixed{
    position:fixed;
    _position:absolute;
    bottom:0px;
    z-index:295;
    margin-left: -10px;
    -webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    right: 10px;
}

.form-actions.fixed .pull-right{
    float: none;
    margin-left: 20px;
}

.required {
    color: red;
    font-weight:bold
}



div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 460px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}
