{% extends "admin/admin_base.html" %}

{% block active_admin_script %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Admin</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Script Manager</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>

                    {{ type }} Script

                </legend>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#name" data-toggle="tab">1. Name <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#desc" data-toggle="tab">2. Desc <i class="icon-arrow-right icon-white"></i></a></li>
                    <li class=""><a href="#script" data-toggle="tab">3. Script <i class="icon-arrow-right icon-white"></i></a></li>
                </ul>

                <div class="tab-content" style="padding-bottom: 9px;">

                    <div class="tab-pane active breadcrumb" id="name">
                        <div class="span2">{{ form.name.label }}</div>
                        <div class="span6">{{ form.name() }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.name.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="desc">
                        <div class="span2">{{ form.desc.label }}</div>
                        <div class="span6">{{ form.desc(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.desc.description }}</p>
                        </div>
                    </div>

                    <div class="tab-pane breadcrumb" id="script">
                        <div class="span2">{{ form.script.label }}</div>
                        <div class="span6">{{ form.script(class="span12", rows="10") }}</div>
                        <div class="clearfix"></div>
                        <div class="alert alert-block alert-success fade in">
                            <strong>说明:</strong>
                            <p>{{ form.script.description }}</p>
                        </div>
                    </div>

                </div>

                <a href="#commit" role="button" class="btn btn-success pull-right" data-toggle="modal">{{ type }}</a>
                <div id="commit" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Oops!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Continue to do this operate?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}