{% extends "base.html" %}

{% block main %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">BRISEIS</a>
            <div class="nav-collapse">
                {% block topnav %}
                <ul class="nav">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">机柜</a></li>
                    <li><a href="#">资产</a></li>
                    <li><a href="#">监控</a></li>
                    <li class="active"><a href="#">操作</a></li>
                </ul>
                {% endblock %}
                <p class="navbar-text pull-right"><a href="#">个人</a></p>
            </div>
        </div>
    </div>
</div>

{% block body %}{% end %}

{% end %}