{% extends "dashboard/dashboard_base.html" %}

{% block active_dashboard_script %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Manager</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Script</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    {{ type }} Script
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    <div class="control-group">
                        <label class="control-label">{{ form.name.label }}</label>
                        <div class="controls">
                            {{ form.name() }}
                            <p class="help-block">{{ form.name.description|safe }}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.desc.label }}</label>
                        <div class="controls">
                            {{ form.desc(class="span6") }}
                            <p class="help-block">{{ form.desc.description|safe }}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.script.label }}</label>
                        <div class="controls">
                            {{ form.script(class="span6", rows="10") }}
                            <p class="help-block">{{ form.script.description|safe }}</p>
                        </div>
                    </div>

                </div>

                <a href="#commit" role="button" class="btn btn-success pull-right" data-toggle="modal">{{ type }}</a>
                <div id="commit" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Oops!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Continue to do this operate?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        {{ form.submit(class="btn btn-danger") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}