{% extends "dashboard/dashboard_base.html" %}

{% block active_dashboard_user %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Manager</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">User</a><span class="divider">/</span></li>
            <li class="active">{{ type }}</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">User Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('create_user_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add User</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>USERNAME</th>
                <th>NICKNAME</th>
                <th>OPERATE</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>
                            <a href="{{ url_for('show_user_ctrl', username=user.username) }}">查看</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}