{% extends "dashboard/dashboard_base.html" %}

{% import "macro.html" as ext %}

{% block active_dashboard_operate %}active{% endblock %}


{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Manager</a><span class="divider">/</span></li>
            <li><a href="#">Operate</a> <span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Operate Manager</a>
            </div>
        </div>

        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>USER</th>
                <th>DATETIME</th>
                <th>TYPE</th>
                <th>SERVER</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            {% for execute in executes %}
            <tr>
                <td style="width: 10%">{{ execute.author }}</td>
                <td style="width: 10%">{{ execute.datetime }}</td>
                <td style="width: 10%">{{ execute.operate_type }}</td>
                <td style="width: 40%">{{ execute.server_list }}</td> <!-- TODO: 增加省略显示或固定字符省略溢出 -->
                <td style="width: 10%">{{ ext.get_operate_status(execute.status) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}