<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BONGOS{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ruoyan Wong">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/bootstrap/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/bootstrap/css/bootstrap-responsive.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/font-awesome/font-awesome.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/select2/css/select2.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/select2/css/select2-bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/google-code-prettify/prettify.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bongos/bongos.css') }}">

    {% block style %}
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='bongos/favicon.ico') }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    {% import "macro.html" as ext %}

    {% block body %}

    {% block header %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="{{ url_for('account.index_ctrl') }}"><i class="icon-home"></i> BONGOS</a>

                <ul class="nav">
                    <li>
                        <ul class="nav nav-pills">
                            <li class="dropdown {% block active_assets %}{% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for("assets.list_server_ctrl") }}">Server</a></li>
                                <li><a href="{{ url_for("assets.list_idc_ctrl") }}">DataCenter</a></li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav nav-pills">
                            <li class="dropdown {% block active_operation %}{% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Operation</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('operation.list_operation_ctrl', operation_type='ping_status_detecting') }}"><i class="icon-exchange"></i> Ping Status</a></li>
                                <li><a href="{{ url_for('operation.list_operation_ctrl', operation_type='ssh_status_detecting') }}"><i class="icon-exchange"></i> Ssh Status</a></li>
                                <li class=""></li>
                                <li><a href="{{ url_for('operation.list_operation_ctrl', operation_type='custom_script_execute') }}"><i class="icon-tasks"></i> Custom Script</a></li>
                                <li><a href="{{ url_for('operation.list_operation_ctrl', operation_type='fabfile_execute') }}"><i class="icon-tasks"></i> PreDefined Fabfile</a></li>
                                <li class="nav-header"></li>
                                <li><a href="{{ url_for('operation.list_operation_ctrl', operation_type='remote_power_control') }}"><i class="icon-off"></i> Power Control</a></li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="{% block active_dashboard %}{% endblock %}"><a href="{{ url_for("dashboard.list_user_ctrl") }}">Dashboard</a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome,</b> {{ current_user.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for("account.user_edit_settings_ctrl") }}"><i class="icon-cogs"></i> Change Settings</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for("account.user_logout_ctrl") }}">Log out</a></li>
                </ul>

            </div>
        </div>
    </div>

    {% block container %}

        <div class="container-fluid">

            <div class="row-fluid">

                {% block sidebar %}{% endblock %}

                {% block main %}{% endblock %}

            </div>

        </div>

    {% endblock %}

    <hr>

    <footer class="footer">

        <div class="container">
            <p>Create by <a href="https://github.com/saipanno">@Ruoyan Wong(saipanno)</a></p>
            <!--
            <div class="bs-social">
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
            </div>
            -->
        </div>

        <script src="{{ url_for('static', filename='package/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/jquery/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/jquery/jquery.dataTables.ColReorderWithResize.js') }}"></script>
        <script src="{{ url_for('static', filename='package/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/select2/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/google-code-prettify/prettify.js') }}"></script>
        <script src="{{ url_for('static', filename='bongos/bongos.js') }}"></script>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                prettyPrint();
                $(".select2").select2();
                $(".datatable").dataTable( {
                    "sPaginationType": "bootstrap",
                    "sSortAsc": "header headerSortDown",
                    "sSortDesc": "header headerSortUp",
                    "sSortable": "header",
                    "sDom": "Rlfrtip"
                } );
            } );
        </script>

    </footer>

    {% endblock %}

    {% endblock %}

</body>
</html>