<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bongos Project{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ruoyan Wong">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/bootstrap3/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/bootstrap3/css/google-bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/font-awesome/font-awesome.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='package/google-code-prettify/prettify.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bongos/bongos.css') }}">

    {% block style %}{% endblock style %}

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='bongos/favicon.ico') }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

{% import "macro.html" as ext %}

{% block body %}

    {% block navbar %}

        <div class="navbar navbar-static-top" role="navigation">

            <div class="container">

                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ url_for('account.index_ctrl') }}"><i class="icon-home"></i> Bongos Project</a>

                <div class="nav-collapse collapse bs-navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li class="{% block active_assets %}{% endblock %}"><a href="{{ url_for("assets.list_server_ctrl") }}">Assets</a></li>
                        <li class="{% block active_operation %}{% endblock %}"><a href="{{ url_for('operation.overview_operation_ctrl') }}">Operation</a></li>
                        <li class="{% block active_fabfile %}{% endblock %}"><a href="#">Fabfile</a></li>
                        <li class="{% block active_dashboard %}{% endblock %}"><a href="{{ url_for("dashboard.list_user_ctrl") }}">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome,</b> {{ current_user.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for("account.user_edit_settings_ctrl") }}"><i class="icon-cogs"></i> Change Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for("account.user_logout_ctrl") }}">Log out</a></li>
                    </ul>

                </div>

            </div>
        </div>

    {% endblock navbar %}

    {% block bs_header %}{% endblock bs_header %}

    {% block container %}{% endblock container %}

    <hr>

    <footer class="footer">

        <div class="container">
            <p>Project create by <a href="https://github.com/saipanno">@Ruoyan Wong(saipanno)</a></p>
            <!--
            <div class="bs-social">
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=saipanno&repo=Bongos&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
            </div>
            -->
        </div>

        <script src="{{ url_for('static', filename='package/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/bootstrap3/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/jquery/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/select2/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='package/google-code-prettify/prettify.js') }}"></script>
        <script src="{{ url_for('static', filename='bongos/bongos.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                prettyPrint();
                $(".select2").select2();
                $(".datatable").dataTable( {
                    "sPaginationType": "bootstrap",
                    "sSortAsc": "header headerSortDown",
                    "sSortDesc": "header headerSortUp",
                    "sSortable": "header",
                    "sDom": "Rlfrtip"
                } );
            } );
        </script>

    </footer>

{% endblock body %}

</body>
</html>