{% macro feedback_message()  -%}
    {% with flash_messages = get_flashed_messages(with_categories=true) %}
        {% if flash_messages %}
            {% for category, message in flash_messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {% for msg in message.split(',') %}
                    <i class="icon-info-sign"></i> {{ msg }}<br>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}


{% macro get_operation_title(operation_type)  -%}
    {% if operation_type == 'ssh_detect' %}
        Ssh Detect
    {% elif operation_type == 'ping_detect' %}
        Ping Detect
    {% elif operation_type == 'custom_execute' %}
        Custom Execute
    {% elif operation_type == 'predefined_execute' %}
        PreDefined Execute
    {% elif operation_type == 'power_control' %}
        Power Control
    {% else %}
        Error Operation Type
    {% endif %}
{%- endmacro %}


{% macro generation_create_operation_link(operation_type)  -%}
    {% if operation_type == 'ssh_detect' %}
        {{ url_for('operation.create_ssh_detect_ctrl') }}
    {% elif operation_type == 'ping_detect' %}
        {{ url_for('operation.create_ping_detect_ctrl') }}
    {% elif operation_type == 'custom_execute' %}
        {{ url_for('operation.create_custom_execute_ctrl') }}
    {% elif operation_type == 'predefined_execute' %}
        {{ url_for('operation.create_predefined_execute_ctrl') }}
    {% elif operation_type == 'power_control' %}
        {{ url_for('operation.create_power_control_ctrl') }}
    {% endif %}
{%- endmacro %}


{% macro get_operation_status(status)  -%}
    {% if status == '0' %}
        <i class="icon-info-sign text-info" title="队列中"></i>
    {% elif status == '1' %}
        <i class="icon-ok-sign text-success" title="已完成"></i>
    {% elif status == '2' %}
        <i class="icon-exclamation text-error" title="内部错误"></i>
    {% elif status == '5' %}
        <i class="icon-download text-info" title="执行中"></i>
    {% elif status == '10' %}
        <i class="icon-ban-circle text-info" title="已禁用"></i>
    {% else %}
        <i class="icon-exclamation text-warning" title="异常结果"></i>
    {% endif %}
{%- endmacro %}


{% macro get_status(status)  -%}
    {% if status == 0 %}
        <i class="icon-ban-circle text-info" title="True"></i>
    {% elif status == 1 %}
        <i class="icon-ok-sign text-success" title="True"></i>
    {% else %}
        <i class="icon-exclamation text-error" title="True"></i>
    {% endif %}
{%- endmacro %}


{% macro get_adverse_desc(status)  -%}
    {% if status == 0 %}
        <i class="icon-ok"></i> Enable
    {% elif status == 1 %}
        <i class="icon-ban-circle"></i> Disable
    {% endif %}
{%- endmacro %}


{% macro create_standard_field(field)  -%}
    <div class="control-group">
        <label class="control-label inline">{{ field.label.text }}{% if field.flags.required %} <span class="required">*</span>{% endif %}</label>
        <div class="controls">
            {{ field(**kwargs) }}
            {%- if field.description -%}
                <p class="help-block">{{ field.description|safe }}</p>
            {%- endif %}
        </div>
    </div>
{%- endmacro %}