{% extends "dashboard/base.html" %}

{% block active_dashboard_acl %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">ACL Manager</a><span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">ACL Manager</a>
            </div>
        </div>

        <div class="accordion" id="accordion2">

            {% for group_id in access_control_dicts %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ group_id }}">
                        Group: {{ group_information.get(group_id) }}
                    </a>
                </div>

                <div id="{{ group_id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>FUNCTION</th>
                                <th>PERMISSION</th>
                                <th>OPERATION</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for function in access_control_dicts[group_id] %}
                                {% set status = access_control_dicts[group_id][function] %}
                                <tr>
                                    <td>{{ function }}</td>
                                    <td>{{ ext.get_acl_status(status) }}</td>
                                    <td>
                                        <a class="btn btn-mini" href="{{ url_for('dashboard.update_acl_status_ctrl', function=function, group=group_id, status=0 if status else 1) }}">
                                            {{ ext.get_adverse_acl_desc(status) }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}