{% extends "dashboard/base.html" %}

{% block active_dashboard_fabfile %}active{% endblock %}

{% block main %}
    <div class="col-lg-9">

    {% if type == 'list' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="#"><a href="#">Fabfile Manager</a></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Fabfile Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('dashboard.create_fabfile_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Fabfile</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Fabfile ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fabfile in fabfiles %}
                    <tr>
                        <td><a href="{{ url_for('dashboard.edit_fabfile_ctrl', fabfile_id=fabfile.id) }}" title="Edit Fabfile">{{ fabfile.id }}</a></td>
                        <td>{{ fabfile.name }}</td>
                        <td>{{ fabfile.desc }}</td>
                        <td>{{ fabfile.author_name }}</td>
                        <td><a class="btn btn-small btn-primary" href="{{ url_for('dashboard.show_fabfile_ctrl', fabfile_id=fabfile.id) }}"><i class="icon-eye-open"></i> Show</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif type == 'show' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="#"><a href="#">Fabfile Manager</a></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">{{ fabfile.name }}</a>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href="{{ url_for('dashboard.edit_fabfile_ctrl', fabfile_id=fabfile.id) }}"><i class="icon-plus icon-white"></i> Edit Fabfile</a>
                </div>
            </div>

        </div>

        <div>
            <pre class="prettyprint linenums">{{ fabfile.script|safe }}</pre>
        </div>

    {% elif type == 'create' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="#"><a href="#">Fabfile Manager</a></li>
            <li class="active">Create</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Fabfile
                </legend>

                <div class="box form-container row form-horizontal">

                    {{ ext.create_standard_field(form.name, backaddon=".py") }}

                    {{ ext.create_standard_field(form.desc, class="col-lg-6") }}

                    {{ ext.create_standard_field(form.script, class="col-lg-8", rows="10") }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>

        {% elif type == 'edit' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="#"><a href="#">Fabfile Manager</a></li>
            <li class="active">Edit</li>
        </ul>

        <!-- {{ ext.feedback_message() }} -->

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                {% if form.desc.data %}
                    {{ form.desc.data }}
                {% elif form.name.data %}
                    {{ form.name.data }}
                {% else %}
                    Edit Fabfile
                {% endif %}
                </legend>

                <div class="box form-container row form-horizontal">

                    {{ ext.create_standard_field(form.name, class="uneditable-input", backaddon=".py") }}

                    {{ ext.create_standard_field(form.desc, class="col-lg-6") }}

                    {{ ext.create_standard_field(form.script, class="col-lg-8", rows="10") }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-primary") }}

                    <a href="#delete" data-toggle="modal" class="btn btn-danger pull-right" role="button"><i class="icon-remove"></i> Delete</a>
                    <div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="DeleteLabel">Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this fabfile?</p>
                            <span class="label label-info">{{ form.desc.data }}</span>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-large btn-danger pull-left" href="{{ url_for('dashboard.delete_fabfile_ctrl', fabfile_id=form.id.data) }}">Yes, I'm sure</a>
                            <a class="btn btn-primary pull-right" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    {% endif %}

    </div>
{% endblock %}