{% extends "dashboard/base.html" %}

{% block active_dashboard_logging %}active{% endblock %}

{% block main %}
    <div class="span10">

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Logging Reader</a><span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message(form) }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Logging Reader</a>
            </div>
        </div>

        <div class="tabbable">

            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    {% for oneline in logging_buffer %}
                        <tr><td>{{ oneline }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}