{% extends "dashboard/base.html" %}

{% block active_dashboard_permission_handler %}active{% endblock %}

{% block main %}
    <div class="span10">

        {% if type == 'list' %}

            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="#"><a href="#">Permission Handler Manager</a><span class="divider">/</span></li>
                <li class="active">List</li>
            </ul>

            {{ ext.feedback_message() }}

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Permission Handler Manager</a>
                    <div class="btn-group pull-right">
                        <a href="{{ url_for('dashboard.create_permission_handler_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Permission Handler</a>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-bordered table-striped table-condensed datatable">
                <thead>
                    <tr>
                        <th>Permission ID</th>
                        <th>Function</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for permission in permissions %}
                        <tr>
                            <td><a href="{{ url_for('dashboard.edit_permission_handler_ctrl', handler_id=permission.id) }}" title="Edit Permission Handler">{{ permission.id }}</a></td>
                            <td>{{ permission.function }}</td>
                            <td>{{ permission.desc }}</td>
                            <td>
                                <div class="dropdown related_menu">
                                    <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% elif type == 'create' %}

            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="#"><a href="#">Permission Handler Manager</a><span class="divider">/</span></li>
                <li class="active">Create</li>
            </ul>

            {{ ext.feedback_message() }}

            <div class="tabbable">
                <form method="post" action="">

                    {{ form.hidden_tag() }}

                    <legend>
                        Create Permission Handler
                    </legend>

                    <div class="box form-container row-fluid form-horizontal">

                        {{ ext.create_standard_field(form.function) }}

                        {{ ext.create_standard_field(form.desc) }}

                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-danger") }}
                    </div>

                </form>

            </div>

        {% elif type == 'edit' %}

            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="#"><a href="#">Permission Handler Manager</a><span class="divider">/</span></li>
                <li class="active">Edit</li>
            </ul>

            {{ ext.feedback_message() }}

            <div class="tabbable">
                <form method="post" action="">

                    {{ form.hidden_tag() }}

                    <legend>
                    {% if form.desc.data %}
                        {{ form.desc.data }}
                    {% else %}
                        Edit Permission Handler
                    {% endif %}
                    </legend>

                    <div class="box form-container row-fluid form-horizontal">

                        {{ ext.create_standard_field(form.function, class="uneditable-input") }}

                        {{ ext.create_standard_field(form.desc) }}

                    </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>

                </form>

            </div>

        {% endif %}

    </div>
{% endblock %}