{% extends "dashboard/base.html" %}

{% block active_dashboard_server %}active{% endblock %}

{% block main %}
    <div class="span10">

    {% if type == 'list' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Server Manager</a><span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Server Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('dashboard.create_server_ctrl')}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Server</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped table-condensed datatable">
            <thead>
                <tr>
                    <th>Server ID</th>
                    <th>Assets Number</th>
                    <th>Ext Address</th>
                    <th>Int Address</th>
                    <th>Group</th>
                    <th>IDC</th>
                    <th>Rack</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr>
                        <td><a href="{{ url_for('dashboard.edit_server_ctrl', server_id=server.id) }}" title="Edit Server">{{ server.id }}</a></td>
                        <td>{{ server.assets_number }}</td>
                        <td>{{ server.ext_address }}</td>
                        <td>{{ server.int_address }}</td>
                        <td>{{ server.group_name }}</td>
                        <td>{{ server.idc_name }}</td>
                        <td>{{ server.rack }}</td>
                        <td>{{ server.manufacturer }}</td>
                        <td>{{ server.model }}</td>
                        <td>
                            <div class="dropdown related_menu">
                                <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif type == 'show' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Server Manager</a><span class="divider">/</span></li>
            <li class="active">Show</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ script.name }}</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('dashboard.edit_predefined_script_ctrl', script_id=script.id)}}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Edit Script</a>
                </div>
            </div>

            <!-- TODO: 增加服务器显示页面 -->

        </div>

    {% elif type == 'create' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Server Manager</a><span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Server
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_field(form.serial_number) }}
                    {{ ext.create_standard_field(form.assets_number) }}
                    {{ ext.create_standard_field(form.groups, class="select2 span4") }}
                    {{ ext.create_standard_field(form.desc) }}
                    {{ ext.create_standard_field(form.ext_address) }}
                    {{ ext.create_standard_field(form.int_address) }}
                    {{ ext.create_standard_field(form.ipmi_address) }}
                    {{ ext.create_standard_field(form.other_address, class="span6") }}
                    {{ ext.create_standard_field(form.idc, class="select2") }}
                    {{ ext.create_standard_field(form.rack) }}
                    {{ ext.create_standard_field(form.manufacturer) }}
                    {{ ext.create_standard_field(form.model) }}
                    {{ ext.create_standard_field(form.cpu_info, class="span6") }}
                    {{ ext.create_standard_field(form.disk_info, class="span6") }}
                    {{ ext.create_standard_field(form.memory_info, class="span6") }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>

        {% elif type == 'edit' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="#"><a href="#">Server Manager</a><span class="divider">/</span></li>
            <li class="active">Edit</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                {% if form.desc.data %}
                    {{ form.desc.data }}
                {% else %}
                    Edit Server
                {% endif %}
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_field(form.serial_number) }}
                    {{ ext.create_standard_field(form.assets_number) }}
                    {{ ext.create_standard_field(form.groups, class="select2 span4") }}
                    {{ ext.create_standard_field(form.desc) }}
                    {{ ext.create_standard_field(form.ext_address) }}
                    {{ ext.create_standard_field(form.int_address) }}
                    {{ ext.create_standard_field(form.ipmi_address) }}
                    {{ ext.create_standard_field(form.other_address, class="span6") }}
                    {{ ext.create_standard_field(form.idc) }}
                    {{ ext.create_standard_field(form.rack) }}
                    {{ ext.create_standard_field(form.manufacturer) }}
                    {{ ext.create_standard_field(form.model) }}
                    {{ ext.create_standard_field(form.cpu_info, class="span6") }}
                    {{ ext.create_standard_field(form.disk_info, class="span6") }}
                    {{ ext.create_standard_field(form.memory_info, class="span6") }}

                </div>

                    <div class="form-actions">
                        {{ form.submit(class="btn btn-primary") }}
                        <a href="{{ url_for('dashboard.delete_server_ctrl', server_id=form.id.data) }}" class="btn btn-danger pull-right"><i class="icon-remove"></i> Delete</a>
                    </div>

            </form>
        </div>

    {% endif %}

    </div>
{% endblock %}