{% extends "dashboard/base.html" %}

{% block active_dashboard_ssh_config %}active{% endblock %}

{% block main %}
    <div class="span10">

    {% if type == 'list' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Ssh Config Manager</a> <span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Ssh Config Manager</a>
                <div class="btn-group pull-right">
                    <a href="{{ url_for('dashboard.create_ssh_config_ctrl') }}" class="btn btn-primary"><i class="icon-plus"></i> Add Ssh Config</a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DESC</th>
                    <th>PORT</th>
                    <th>USERNAME</th>
                    <th>PRIVATE KEY</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ssh_config in ssh_configs %}
                <tr>
                    <td>{{ ssh_config.name }}</td>
                    <td>{{ ssh_config.desc }}</td>
                    <td>{{ ssh_config.port }}</td>
                    <td>{{ ssh_config.username }}</td>
                    <td>{{ ssh_config.private_key }}</td>
                    <td>
                        <div class="dropdown related_menu">
                            <a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{{ url_for('dashboard.edit_ssh_config_ctrl', config_id=ssh_config.id) }}"><i class="icon-edit"></i> Edit</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% elif type == 'create' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Ssh Config Manager</a> <span class="divider">/</span></li>
            <li class="active">Create</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Create Ssh Config
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_field(form.name) }}

                    {{ ext.create_standard_field(form.desc, class="span6") }}

                    {{ ext.create_standard_field(form.port) }}

                    {{ ext.create_standard_field(form.username) }}

                    {{ ext.create_standard_field(form.password) }}

                    {{ ext.create_standard_field(form.private_key) }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>

    {% elif type == 'edit' %}

        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Ssh Config Manager</a> <span class="divider">/</span></li>
            <li class="active">Edit</li>
        </ul>

        {{ ext.feedback_message() }}

        <div class="tabbable">
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <legend>
                    Edit Ssh Config
                </legend>

                <div class="box form-container row-fluid form-horizontal">

                    {{ ext.create_standard_field(form.name) }}

                    {{ ext.create_standard_field(form.desc, class="span6") }}

                    {{ ext.create_standard_field(form.port) }}

                    {{ ext.create_standard_field(form.username) }}

                    {{ ext.create_standard_field(form.password) }}

                    {{ ext.create_standard_field(form.private_key) }}

                </div>

                <div class="form-actions">
                    {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>
        </div>

    {% endif %}

    </div>
{% endblock %}